<h1>Dogs & Deals</h1>
<% if @sub_breeds.empty? %>
  <h2>The breed <%= @breeds.name.capitalize! %> doesn't have any sub-breeds!<h2>
<% else %>
  <h2>Here are the sub-breeds of the breed <%= @breeds.name.capitalize! %>
  <ul>
    <% @sub_breeds.each do |sub_breed| %>
      <li><%= sub_breed.name.capitalize! %></li>
    <% end %>
  </ul>
<% end %>
<% if @deals.empty? %>
<h2>Unfortunately there are no dogs of this breed for sale!</h2>
<% else %>
  <h2>See here the locations where you can find this breed and how much is the price:</h2>
  <ul>
    <% @deals.each do |deal| %>
      <li>Store name: <%= deal.store.name %></li>
      <li>Location: <%= deal.store.address %></li>
      <li>Price: $<%= deal.price %></li>
    <% end %>
  </ul>
  <p>All sub-breeds are available if the breed has one.</p>
<% end %>